@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(183, 183, 183, 0.3); }

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__list {
  flex-grow: 1;
  margin-left: 330px;
  margin-right: 60px; }

.header__logo {
  padding: 15px 30px;
  border-right: 1px solid rgba(183, 183, 183, 0.3); }
  .header__logo img {
    cursor: pointer; }

.header__item__mute img {
  cursor: pointer; }

.header__item__news p {
  font-family: monreg;
  font-size: 15px;
  cursor: pointer; }

.header__item__contacts a {
  text-decoration: none;
  font-family: monreg;
  font-size: 15px;
  cursor: pointer;
  color: #000;
  margin-right: 5px; }

.header__item__lang span {
  font-family: monreg;
  font-size: 15px;
  cursor: pointer;
  display: inline-block; }

.header__item__lang span::after {
  content: url(../img/svg/arow.svg);
  display: inline-block;
  transform: rotate(90deg) translateX(3px);
  margin-left: 5px;
  width: 15px; }

.footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px 0 160px; }
  .footer a {
    cursor: pointer; }

.footer__social span {
  font-family: monlight;
  font-size: 15px;
  margin-left: 350px;
  margin-right: 30px; }

.footer__address {
  font-family: monlight;
  font-size: 15px; }

.container {
  max-width: 1980px;
  margin-right: auto;
  margin-left: auto; }

.about {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: 1px solid rgba(183, 183, 183, 0.3); }

.about__space {
  min-width: 160px;
  height: 790px;
  border-right: 1px solid rgba(183, 183, 183, 0.3); }

.about__text {
  padding-left: 52px;
  padding-right: 90px; }

.bread {
  margin: 50px 0 0 0;
  font-family: monlight;
  font-size: 12.5px;
  color: #000;
  text-transform: uppercase; }
  .bread a {
    text-decoration: none;
    color: #000;
    cursor: pointer; }
  .bread .bread__next {
    margin: 0 10px; }
  .bread a:last-child {
    color: grey; }
  .bread a::after {
    content: ">";
    margin: 0 10px; }
  .bread a:last-child::after {
    content: ''; }

.bread::before {
  content: ' ';
  width: 75px;
  height: 1px;
  background-color: rgba(183, 183, 183, 0.3);
  display: block;
  position: relative;
  right: 90px;
  top: 7px; }

.about__select {
  width: 540px;
  margin: 45px 0 0 0;
  display: flex;
  justify-content: space-between; }
  .about__select span {
    font-family: monexb;
    font-size: 15.75px; }

.selector {
  display: flex;
  justify-content: center;
  align-items: center; }
  .selector .selector__item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid black;
    margin: 0 5px;
    cursor: pointer; }
  .selector .selector__item--choose {
    background-color: #fff; }

.about__important {
  position: relative;
  background-image: url(../img/about__important__bg.png);
  background-repeat: no-repeat;
  background-position: 0px 50px; }
  .about__important .important__naming {
    font-family: monexb;
    font-size: 48px;
    text-transform: uppercase;
    width: 480px;
    text-align: right;
    padding: 105px 0 95px 60px; }

.about__paragraph {
  font-family: monlight;
  font-size: 12px;
  width: 540px;
  line-height: 17px;
  color: #000; }

.about__story {
  font-family: monlight;
  font-size: 12.5px;
  text-transform: uppercase;
  color: #b0b0b0;
  text-align: right;
  margin-top: 80px;
  padding-right: 100px;
  letter-spacing: 3px; }

.about__story::after {
  content: ' ';
  width: 75px;
  height: 1px;
  background-color: rgba(183, 183, 183, 0.3);
  display: block;
  position: relative;
  right: -460px;
  top: -7px; }

.about__texts h5 {
  font-family: monexb;
  font-size: 15.75px;
  margin-bottom: 25px; }

.about__texts span {
  color: grey;
  font-family: monlight;
  font-size: 12.5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 25px;
  display: block; }

.about__select__foot {
  margin-top: 46px;
  display: flex; }

.about__imgcont ul {
  display: flex;
  margin: 40px 0; }
  .about__imgcont ul a {
    font-family: monlight;
    font-size: 12.5px;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 3px;
    margin-right: 15px; }

.news {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .news .news__space {
    border-right: 1px solid rgba(183, 183, 183, 0.3);
    height: 150px; }
  .news .news__tabs {
    grid-area: 1 / 2 / 2 / -1;
    padding: 0 180px 0 60px; }
    .news .news__tabs .news__tabs__select {
      display: flex;
      justify-content: space-between;
      margin: 75px 0 60px 0; }
      .news .news__tabs .news__tabs__select .select__input {
        font-size: 12.5px;
        font-family: monmed;
        width: 300px;
        height: 40px;
        border: 1px solid #e9e9ea;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        .news .news__tabs .news__tabs__select .select__input i {
          font-size: 20px;
          display: inline-block;
          color: #000;
          background-color: #e9e9ea;
          padding: 10px;
          transform: rotate(180deg);
          position: absolute;
          right: 0;
          cursor: pointer; }
    .news .news__tabs .news__tabs__doings {
      display: flex;
      flex-wrap: wrap; }
      .news .news__tabs .news__tabs__doings .tabs__doings {
        width: 670px;
        overflow-y: hidden; }
