 @font-face {
    font-family: monblack;
    src: url(../fonts/Montserrat-Black.ttf);
}
 @font-face {
    font-family: monblackitalic;
    src: url(../fonts/Montserrat-BlackItalic.ttf);
}
 @font-face {
    font-family: monbold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
 @font-face {
    font-family: monbolditalic;
    src: url(../fonts/Montserrat-BoldItalic.ttf);
}
 @font-face {
    font-family: monexb;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}
 @font-face {
    font-family: monexbitalic;
    src: url(../fonts/Montserrat-ExtraBoldItalic.ttf);
}
 @font-face {
    font-family: monexli;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}
 @font-face {
    font-family: monexliit;
    src: url(../fonts/Montserrat-ExtraLightItalic.ttf);
}
 @font-face {
    font-family: monitalic;
    src: url(../fonts/Montserrat-Italic.ttf);
}
 @font-face {
    font-family: monlight;
    src: url(../fonts/Montserrat-Light.ttf);
}
 @font-face {
    font-family: monlightitalic;
    src: url(../fonts/Montserrat-LightItalic.ttf);
}
 @font-face {
    font-family: monmed;
    src: url(../fonts/Montserrat-Medium.ttf);
}
 @font-face {
    font-family: monmeditalic;
    src: url(../fonts/Montserrat-MediumItalic.ttf);
}
 @font-face {
    font-family: monreg;
    src: url(../fonts/Montserrat-Regular.ttf);
}
 @font-face {
    font-family: monsemibold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
 @font-face {
    font-family: monthin;
    src: url(../fonts/Montserrat-Thin.ttf);
}
 @font-face {
    font-family: monsemibolditalic;
    src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
}
 @font-face {
    font-family: monthinitalic;
    src: url(../fonts/Montserrat-ThinItalic.ttf);
}