
.header{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border-bottom: 1px solid rgba(183, 183, 183, 0.3);
}
.header__all{
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: 1 / 2 / 2 / -1;
}
.header__list{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__list{
	flex-grow: 1;
	margin-left: 330px;
    margin-right: 60px;
}
.header__logo{
	padding: 15px;
	border-right: 1px solid rgba(183, 183, 183, .3);
	img{
		cursor: pointer;
	}
}
.header__item__mute{
	img{
		cursor: pointer;
	}
}
.header__item__news{
	p{
		font-family: monreg;
		font-size: 15px;
		cursor: pointer;
	}
}
.header__item__contacts{
	a{
		text-decoration: none;
		font-family: monreg;
		font-size: 15px;
		cursor: pointer;
		color: #000;
		margin-right: 5px;
	}
}
.header__item__lang{
	span{
		font-family: monreg;
		font-size: 15px;
		cursor: pointer;
		display:inline-block;
	}
	span::after{
			content: url(../img/svg/arow.svg);
		    display: inline-block;
		    transform: rotate(90deg) translateX(3px);
		    margin-left: 5px;
		    width: 15px;

		}
}