@import 'fonts.scss';
@import 'header.scss';
@import 'footer.scss';
.container {
  max-width: 1980px;
  margin-right: auto;
  margin-left: auto;
}
.about{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	border-bottom: 1px solid rgba(183, 183, 183, .3);
}
.about__space{
	min-width: 160px;
	height:760px;
	border-right: 1px solid rgba(183, 183, 183, .3);
}
.about__text{
	padding-left: 52px;
    padding-right: 90px;
}
.bread{
	margin: 50px 0 0 0;
	font-family: monlight;
	font-size:12.5px;
	color: #000;
	text-transform: uppercase;
	a{
		text-decoration: none;
		color: #000;
		cursor: pointer;
	}
	.bread__next{
		margin: 0 10px;
	}
	a:last-child{
		color: grey;
	}
	a::after{
		content: ">";
		margin: 0 10px;
	}
	a:last-child::after{
		content: '';
	}
}
.bread::before{
		    content: ' ';
	    width: 75px;
	    height: 1px;
	    background-color: rgba(183, 183, 183, 0.3);
	    display: block;
	    position: relative;
	    right: 90px;
	    top: 7px;
}
.about__select{
	width: 540px;
    margin: 45px 0 0 0;
    display: flex;
    justify-content: space-between;
	span{
		font-family: monexb;
		font-size: 15.75px;

	}
}
.selector{
	display: flex;
	justify-content: center;
	align-items: center;
	.selector__item{
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #000;
		border: 1px solid black;
		margin: 0 5px;
		cursor: pointer;
	}
	.selector__item--choose{
		background-color: #fff;
	}
}
.about__important{
	position: relative;
	background-image: url(../img/about__important__bg.png);
	background-repeat: no-repeat;
    background-position: 0px 50px;
	.important__naming{
		font-family: monexb;
		font-size: 48px;
		text-transform: uppercase;
		width: 480px;
		text-align: right;
		padding: 105px 0 95px 60px;
	}
}
.about__paragraph{
	font-family: monlight;
	font-size: 12px;
	width: 540px;
	line-height: 17px;
	color: #000;
}
.about__story{
	font-family: monlight;
	font-size: 12.5px;
	text-transform: uppercase;
	color: #b0b0b0;
	text-align: right;
	margin-top: 80px;
	padding-right: 100px;
	letter-spacing: 3px;
}
.about__story::after{
    content: ' ';
    width: 75px;
    height: 1px;
    background-color: rgba(183, 183, 183, 0.3);
    display: block;
    position: relative;
    right: -460px;
    top: -7px;
}
.about__video{

}

.awords{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	border-bottom: 1px solid rgba(183, 183, 183, .3);
}
.awords__space{
	min-width: 160px;
	height:800px;
	border-right: 1px solid rgba(183, 183, 183, .3);
}
.awords__disp{
	width: 682px;
	border-right: 1px solid rgba(183, 183, 183, .3);
}
.awords__select{
	margin: 110px auto 70px auto;
}
.aword__slider{
	display: flex;
	justify-content: center;
	align-items: center;
}
.winners__naming{
	margin: 100px 0 0 100px;
	width: 450px;
	font-family: monexb;
	font-size: 21px;
	text-transform: uppercase;
}
.winners__naming::before{
	content: ' ';
	    width: 75px;
	    height: 1px;
	    background-color: rgba(183, 183, 183, 0.3);
	    display: block;
	    position: relative;
	    right: 137px;
    	top: 11px;
}
.winners__slog{
	margin: 45px 0 0 100px;
	width: 450px;
	font-family: monexb;
	font-size: 66px;
}
.winner__text{
	margin: 40px 0 0 100px;
	width: 450px;
	font-family: monlight;
	font-size: 12px;
	line-height: 16.5px;
}
.winners__logos{
	margin-top: 100px;
	display: flex;
    justify-content: flex-start;
}
.logos__btn img{
	display: block;
	cursor: pointer;
}
.logos__logos{
	display: flex;
	margin-left: 70px;
}
.logos__logos img{
	width: 180px;
}
.aword__winners{
	background-image: url('../img/svg/awards animation figure.svg');
    background-size: 37%;
    background-position: 95% 40%;
    background-repeat: no-repeat;
    width: 1060px;
}

.history{
	display: flex;
	border-bottom: 1px solid rgba(183, 183, 183, .3);
}
.history__space{
	min-width: 160px;
	height:925px;
	border-right: 1px solid rgba(183, 183, 183, .3);
	position: relative;
}
.history__space__btn{
	position: absolute;
	bottom: 0;
	right: 0;
}
.history__naming{
	margin: 130px 0 0 120px;
	width: 300px;
	font-family: monexb;
	font-size: 21px;
	text-transform: uppercase;
}
.history__naming::before{
	content: ' ';
	    width: 75px;
	    height: 1px;
	    background-color: rgba(183, 183, 183, 0.3);
	    display: block;
	    position: relative;
	    right: 157px;
    	top: 11px;
}
.history__slog{
	margin: 45px 0 0 120px;
	width: 710px;
	font-family: monexb;
	font-size: 66px;
	text-transform: uppercase;
}
.history__p{
	margin: 40px 0 0 120px;
	width: 445px;
	font-family: monlight;
	font-size: 12px;
	line-height: 16.5px;
}
.history__all{
	display: flex;
}
.history__story{
	margin: 180px 0 0 270px;
	font-family: monlight;
	font-size: 12.5px;
	text-transform: uppercase;
	color: #b0b0b0;
	text-align: right;
	letter-spacing: 3px;
}
.history__story::after{
    content: ' ';
    width: 75px;
    height: 1px;
    background-color: rgba(183, 183, 183, 0.3);
    display: block;
    position: relative;
    right: -210px;
    top: -7px;
}
.history__story::before{
    content: url('../img/svg/play.svg');
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    right: -302px;
    top: 22px;
    cursor: pointer;
}
.history__text{
	display: flex;
}
.history__all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.history__list{
	display: flex;
	height: 420px;
	padding-left: 80px;
	width: 2500px;
}
.history__item{
	list-style: none;
	background-image: url('../img/about_ul_li_big.png');
	background-repeat: no-repeat;
    background-position: center 100%;
    margin-left: 110px;
    span{
    	text-align: center;
	    display: block;
	    margin-top: 125px;
	    font-family: monmed;
	    font-size: 13px;
	    color: #565555;
    }
}
.history__item2{
	list-style: none;
	background-image: url('../img/about_ul_li_small.png');
	background-repeat: no-repeat;
    background-position: center 100%;
    margin-left: 105px;
    width: 170px;
    span{
	    display: block;
	    margin-top: 185px;
	    margin-bottom: 25px;
	    font-family: monmed;
	    font-size: 13px;
	    color: #565555;
    }
    p{
    	font-family: monlight;
    	font-size: 12.5px;
    	line-height: 16.5px;
    }
}
.history__item3{
	list-style: none;
	background-image: url('../img/about_ul_li_small.png');
	background-repeat: no-repeat;
    background-position: center 100%;
    margin-left: 45px;
}
.slider__hidden{
	overflow-x: hidden;
	width: 1742px;
}

.partners{
	display: flex;
	border-bottom: 1px solid rgba(183, 183, 183, .3);
    background: url('../img/partners_bg.png') bottom no-repeat;
}
.partners__space{
	display: flex;
	min-width: 160px;
	height:800px;
	border-right: 1px solid rgba(183, 183, 183, .3);
}
.partners__text{
	display: flex;
}
.partners__naming{
	margin: 130px 0 0 120px;
	width: 300px;
	font-family: monexb;
	font-size: 21px;
	text-transform: uppercase;
}
.partners__naming::before{
	content: ' ';
	    width: 75px;
	    height: 1px;
	    background-color: rgba(183, 183, 183, 0.3);
	    display: block;
	    position: relative;
	    right: 157px;
    	top: 11px;
}
.partners__slog{
	margin: 45px 0 0 120px;
	width: 710px;
	font-family: monexb;
	font-size: 66px;
	text-transform: uppercase;
}
.partners__p{
	margin: 40px 0 0 120px;
	width: 445px;
	font-family: monlight;
	font-size: 12px;
	line-height: 16.5px;
}
.partners__logos{
	width: 740px;
	height: 340px;
	display: grid;
	grid-template-columns: 185px 185px 185px 185px;
	grid-template-rows: 112px 112px 112px;
	justify-items: center;
	align-items: center;
	margin-top: 120px;
}